body {
	font-family: 'Open Sans', sans-serif;
}

table {
    margin-top: 50px;
}

ul {
	font-family: 'Open Sans', sans-serif;
    text-align: left;
    overflow: hidden;
}

ul li {
	line-height: 24px;
    display: inline-block;
    /*margin: 0 7px;*/
}

.currency-flag {
	vertical-align: middle;
	margin-right: 8px;
        margin-right: 8px;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.15);
}

.key {
	vertical-align: middle;
}

.val {
	vertical-align: middle;
}

.colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(select.png);
}

.colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(select.png) center;
}
